.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgba(242, 240, 236);
    color: #a4a19b;
    font-weight: 500;
}

.f-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-title {
    color: #85827e;
}

.f-imgs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.f-links {
    color: #85827e;
    transition: 0.2s all;
}

.f-links:hover {
    cursor: pointer;
    transform: translateX(2px);
}
