.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* background-color: rgba(242, 240, 236); */
    gap: 10px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 251, 251);
    width: 80%;
}

.link {
    background-color: rgba(242, 240, 236);
    padding: 10px;
    border-radius: 20px;
    transition: 0.4s all;
    padding-left: 15px;
    padding-right: 15px;
}

.link:hover {
    cursor: pointer;
    color: white;
    background-color: #2c2a27;
}

.sale-links {
    margin-top: 20px;
}

.tre-items, .sale-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.tre-items, .sale-items, .sale {
    width: 85%;
    margin: auto;
}

.h-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-img {
    background-color: rgba(242, 240, 236);
    /* background-color: black; */
    /* border-radius: 10px; */
    width: 200px;
    /* border: 5px solid white; */
}

.h-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    background-color: rgba(242, 240, 236);
    padding: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.178); */
    /* border: 10px solid white; */
    /* background-color: red; */
    transition: 0.5s all;
    border-radius: 5px;
    gap: 10px;
    position: relative;
}

.item:hover {
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
    /* transform: scale(1.02); */
    cursor: pointer;
    /* opacity: 0.25; */
}

.item-mid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.discount {
    color: rgba(255, 63, 63, 0.863);
    /* font-weight: 600; */
    text-decoration: line-through;
}

.item-mid p {
    display: flex;
    gap: 10px;
}

.disc {
    background-color: rgba(242, 240, 236);
    padding: 15px;
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.disc a {
    position: relative;
    text-decoration: none;
    color: black;
}

.disc a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.disc a:hover::after {
    transform: scaleX(1);
}

.prods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prod-sec {
    width: 25%;
    aspect-ratio: 4/5;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prod-pic {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: 0.5s all;
}

.prod-sec:hover .prod-pic {
    opacity: 0.2;
}

.prod-overlay {
    position: absolute;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: 0.5s all;
    /* background: rgba(0, 0, 0, 0.35); */
}

.prod-sec:hover .prod-overlay {
  opacity: 1;
}

.prod-overlay .link {
    background-color: rgb(0, 0, 0);
    color: white;
}

.prod-overlay .link:hover {
    background-color: rgba(0, 0, 0, 0.747);
    transform: translateY(-2px);
}

.link a {
    color: white;
}

.item-bot {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    /* gap: 10px; */
}

.item-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-brand {
    opacity: 0.75;
    /* font-weight: 400; */
    color: #2c2a27;
}

.size-6 {
    width: 20px;
}

.size-6:hover {
    cursor: pointer;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.price {
    font-size: 1.1rem;
}

.ship {
    color: rgba(255, 63, 63, 0.863);
}

.item-title {
    font-weight: 600;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s all;
    background: rgba(255, 255, 255, 0.75);
}

.item-top, .item-mid, .item-bot {
    transition: 0.2s all;
}

.item:hover .item-overlay {
  opacity: 1;
}

.item-overlay .link {
    background-color: rgb(0, 0, 0);
    color: white;
}

.item-overlay .link:hover {
    background-color: rgba(0, 0, 0, 0.747);
    transform: translateY(-2px);
}


.item-overlay .link {
    text-align: center;
    background-color: black;
}