.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.377); */
    border-bottom: 1px solid rgb(243, 243, 243);
}

.n-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.n-title {
    transition: 0.2s all;
    font-weight: 500;
    padding: 5px;
}

.n-title:hover {
    cursor: pointer;
    transform: translateY(-2px);
}