.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    width: 80%;
    margin: auto;
}

.topbar {
    display: flex;
    gap: 20px;
    /* background-color: red; */
    justify-content: flex-start;
    padding: 20px;
    width: 73%;
}

.bar-item {
    padding: 5px;
    font-weight: 500;
    position: relative;
    transition: 0.2s all;
    cursor: pointer;
}

.bar-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.2s all;
}

.bar-item:hover::after {
    transform: scaleX(1);
}

.bar-item:hover {
    transform: translateY(-2px);
}

.test {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
}

.s-items {
    padding: 30px;
    padding-top: 0;
}

.active {
    background-color: rgba(242, 240, 236);
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.2s all;
}
